.jumbotron{
 background-image: url("../images/assets/backgrounds/landing.jpg");
 background-size: cover;
 padding-top: 60px !important;
 padding: 120px 30px;
 width: 100%;
 height: 636px;
 margin-left: 0;
 margin-bottom: 0;
 font-family: 'Bellefair', serif;
 color: #ffffff;
 font-size: 40px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
#row1{
 background-color: #f2f2f2;
 color: #262626;
 text-align: center;
 padding-top:26px;
 padding-bottom:26px;
}

#row2{
 background-color: #FF4500;
 color: #ffffff;
 text-align: center;
 padding-top:26px;
 padding-bottom:26px;
}
#row3{
  float: right;
}
#thumbnail{
  padding: 10px 10px !important;
}
#FastFood{
  font-family: 'Zilla Slab', serif;
}
#Drinks{
  font-family: 'Zilla Slab', serif;
}
#col2{
 background-image: url("../images/assets/foodtop/breakfast.jpg");
 padding-top:80px;
 padding-bottom:80px;
 color: #ffffff;
 text-align: center;
}

#col3 {
background-image: url("../images/assets/foodtop/lunch.jpg");
padding-top:80px;
padding-bottom:80px;
color: #ffffff;
text-align: center;
}

#col4 {
background-image: url("../images/assets/foodtop/dinner.jpg");
padding-top:80px;
padding-bottom:80px;
color: #ffffff;
text-align: center;
}
#h2{
  color: #FF4500;
  text-align: center;
}
#h3{
  color: #FFFFFF;
  text-align: center;
}
#button{
  float: left;
  position: top;
  color: #F15A29;
}
/*tab content*/
.col5 {
background-image: url("../images/assets/backgrounds/foodsBg.jpg");
padding-top:80px;
padding-bottom:80px;
background-size: cover;
padding: 120px 30px;
width: 100%;
height: 599px;

}
.section4{
  background-color: #ffffff !important;
}
#foodmenu{
  min-height: 450px;
  min-width:960px;
  background-color: white;
}
.menutxt{
  text-align: center;
  font-size: 17px;
  color: #F15A29;
  font-weight: bold
}
#menu{
  color:#F15A29;
  font-size: 21px;
  font-weight: bold;
  }
.col5 #foodmenu #menu ul li #activetab{
  color: #F15A29;
}
a{
    color:black;
}

/*customers*/
.col6{
  padding: 50px 60px 50px 60px;
  background-color: white;
  height: 500px;
  width: 1020px;
  margin: auto;
  margin-top: 70px;
}


.row5{
  padding-top: 20px;
  width: 900px;
  height: 350px;
  box-shadow: 0 0 20px #93969b;
}

.h4{
  color: #F15A29;
  font-weight: bold;
  text-align: center;
}
#customer-name{
  text-align: center;
}
.customer-text{
  color: black;
  font-weight: 27px;
  text-align: center;
}
#rule{
  height: 300px;
  width: 1px;
  border-left: #e0e2e5 solid 1px;
}
#customers{
  align-self: center;
  text-align: center;
}

#customers .custimages{
  padding: 30px;
}

.scroll1{
  color:#F15A29;
  border-style: none;
  background-color: white;
}

.scroll2{
  color:#F15A29;
  border-style: none;
  background-color: white;
}
/*Subscribe*/
form{
  height: 301px;
  background-image: url("../images/assets/backgrounds/subscribe.jpg");
  color: white;
  width: 100%;
  padding-top: 70px;
  text-align: center;
}

form input{
  border: none;
  height: 45px;
  opacity: 0.3;
  font-size: 18px;
  width: 400px;
  margin-left: -30px;
}

form input[type="email"]{
  padding-left: 20px;
}
button{
  height: 43px;
  background-color: #F15A29;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-left: 20px;
  font-size: 18px;

}
/*Header*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: #F15A29;
    overflow-x: hidden;
    transition: 0.5s;
}


.overlay-content {
    position: relative;
    top: 10%;
    width: 50%;
    text-align: center;
    margin-top: 10px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.footer{
  height: 349px;
  background-color: #F15A29;
  color: white;
  text-align: center;
  padding-top: 7%;
}

#logo{
  float: left;
  padding: 30px;
}

.logo{
  padding-right: 20px;
}
.footertext{
  font-size: 10px;;
}

.fa {
  padding: 14px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 15px;
}
.fa-facebook {
  background-image: url("../images/assets/footerlogos/facebook.png");
  background-repeat: no-repeat;
  color: #F15A29;
}
.fa-twitter {
  background-image: url("../images/assets/footerlogos/twitter.png");
  background-repeat: no-repeat;
  color: #F15A29;
}
.fa-pinterest {
  background-image: url("../images/assets/footerlogos/pinterest.png");
  background-repeat: no-repeat;
  color: #F15A29;
}
